{% extends 'catalog/base.html' %}
{% load my_tags %}

{% block content %}
<head>
    <h1>Список товаров</h1>
</head>
<body>
    {# Проверка права на создание продукта #}
    {% if perms.catalog.add_product %}
        <a href="{% url 'catalog:product_create' %}" class="btn btn-primary">Создать новый продукт</a>
    {% endif %}

    <div class="album py-5 bg-body-tertiary">
        <div class="container">
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                {% for product in products %}
                    {# Проверка статуса продукта #}
                    {% if product.status == 'published' or request.user.is_superuser or 'Модератор продуктов' in request.user.groups.all|join:", " %}
                        <div class="col">
                            <div class="card shadow-sm">
                                <img src="{{ product.image | media_filter }}" width="400" height="270">
                                <div class="card-body">
                                    <p class="card-text">Название: {{ product.name | upper }}</p>
                                    <p class="card-text">Статус: {{ product.get_status_display }}</p>
                                    <div class="d-flex justify-content-between align-items-center">
                                        <div class="btn-group">
                                            <a class="btn btn-primary" href="{% url 'catalog:product_detail' product.pk %}" role="button">Посмотреть</a>

                                            {# Проверка права на редактирование продукта #}
                                            {% if perms.catalog.change_product %}
                                                <a href="{% url 'catalog:product_update' product.pk %}" class="btn btn-secondary">Редактировать</a>
                                            {% endif %}

                                            {# Проверка права на удаление продукта #}
                                            {% if perms.catalog.delete_product %}
                                                <a href="{% url 'catalog:product_delete' product.pk %}" class="btn btn-danger">Удалить</a>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
</body>
{% endblock %}